.footer{
  text-align: center;
  padding: 56px 0;
  background-size: cover;
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #FFF;
}

.footer a{
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}

.language-switcher {
  background: rgba(0, 0, 0, 0.1);
}

.language-switcher ul {
  list-style: none;
  width: 980px;
  margin: auto;
  text-align: right;
}

.language-switcher li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}

.language-switcher li:first-child {
  color: rgba(255, 255, 255, 0.7);
}
