.cheatsheetContainer {
  margin: auto;
  position: relative;
}


@media screen {
  .cheatsheetPaper {
    background: white;
    width: 18cm;
    height: 27.7cm;
    display: block;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    padding: 1cm 1.5cm;
  }
}
