.cheatsheetContainer {
  margin: auto;
  position: relative;
  background: white;
  width: '100%';
  height: '100%'; 
}



.cheatsheetPaper {
  background: white;
  width: '100%';
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  padding: 1cm 1.5cm;
}

